{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'tests/css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'images/main.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
        {% for m in menu %}
        <li class="menu" ><a href="{% url m.url_name %}">{{m.title}}</a></li>
        {% endfor %}
        {% for a in auth %}
        <li class="auth" ><a href="{% url a.url_name %}">{{a.title}}</a></li>
        {% endfor %}
    </header>
    <main>
        <div> <h1>тест</h1>
        </div>
        <div id="main_area">
            {% block content %}{% endblock content %}
        </div>
        <div></div>
    </main>
    <footer></footer>
</body>
</html>