{% extends 'tests/base.html' %}

{% block content %}
<div id="form_title"><span>Авторизация</span></div>
    <div id="form_fields_login">
        <form method="post">
            {% csrf_token %}
            {% for f in form %}
            <p class="form_p"><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    <div id="button_form"><button class="btn_form" type="submit">Войти</button></div>
        </form>
</div>
<div id="form_footer_login">
    <div id="form_footer_margin">
        <span> <a class="form_link" href="{% url 'tests:register' %}">Забыли пароль?</a></span>
    </div>
    <div>
        <span> <a class="form_link" href="{% url 'tests:register' %}"> У вас еще нет аккаунта на сайте?</a></span>
    </div>
</div>
{% endblock %}