{% extends 'tests/base.html' %}

{% block content %}
<div class="tests_content">
    <div class="tests_header">
        <div>Тесты пользователей</div>
        <div>Фильтр</div>
        <div>Сортировать</div>
    </div>
    <div class="tests_list">
        <div class="test_list_style">1</div>
        <div class="test_list_style">2</div>
        <div class="test_list_style">3</div>
        <div class="test_list_style">4</div>
        <div class="test_list_style">5</div>
        <div class="test_list_style">6</div>
    </div>
</div>
{% endblock %}